/* ---------------- GLOBAL STYLES ---------------- */
:root {
	--opacity: 0.3;
	--color-primary: rgb(0, 3, 164);
	--game-box-opacity: rgb(0, 3, 164, var(--opacity));
	--color-secondary: rgb(185, 25, 192);
	--funny-boxes: rgb(42, 8, 194);
	--color-text: rgb(248, 60, 204);
	--color-text-shadow: rgb(0, 3, 164);
	--color-link: rgb(248, 60, 204);
	--color-link-selected: rgb(0, 3, 164);
	--color-background: rgb(7, 9, 48);
	--cursor-main: url("../assets/images/cursor_light.png"), auto;
    --cursor-pointer: url("../assets/images/cursor_pointer_light.png"), auto;
	--font-family: "PixelOperator", sans-serif;
	--font-size: 24px;
	--header-image: url("../assets/images/main-logo-x2.png");
	--body-bg-image: url("../assets/images/clouds_parallax.gif");
}

@font-face {
	font-family: "PixelOperator";
	src: url(../assets/fonts/PixelOperator.ttf);
}

/* ---------------- BASIC STYLES ---------------- */
body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-family);
	font-size: var(--font-size);
	text-shadow: 3px 2px 5px var(--color-text-shadow);
	cursor: var(--cursor-main); /* Custom mouse cursor */
	background-size: 300px;
	background-image: var(--body-bg-image); 
}

a {
	cursor: var(--cursor-pointer);
}

h1,
h2,
h3 {
  	color: var(--color-link);
  	/* text-align: center; */
	font-size: 32px;
	margin-bottom: 20px;
}

/* Selected Text */
::selection { color: white; background:  rgb(248, 60, 204, var(--opacity));}

/* glow effect */
.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 
		0 0 10px #fff, 
		0 0 20px #fff, 
		0 0 30px var(--color-text-shadow), 
		0 0 40px var(--color-text-shadow), 
		0 0 50px var(--color-text-shadow), 
		0 0 60px var(--color-text-shadow), 
		0 0 70px var(--color-text-shadow);
    }
    
    to {
        text-shadow: 
		0 0 20px #fff, 
		0 0 30px #ff4da6, 
		0 0 40px #ff4da6, 
		0 0 50px #ff4da6, 
		0 0 60px #ff4da6, 
		0 0 70px #ff4da6, 
		0 0 80px #ff4da6;
    }
}

/* ---------------- WRAPPER ---------------- */
.wrapper {
	width: 1300px;
	/*border: 3px solid red; ---- for DEBUG */
	/* this centers the entire page */
	margin: 0 auto;
	top: 0px;
}

/* ---------------- HEADER ---------------- */
header h1 {
  font-size: 36px;
}

/* all links EXCEPT for the navigation */
.container a {
	color: var(--color-nav-link);
	font-family: "PixelOperator";
	font-size: 130%;
	text-decoration: none;
  }
  
.header-img {
	/* background-color: var(--color-primary); */
	height: 180px;
	background-image: var(--header-image);
	background-size:contain;
	background-repeat: no-repeat;
    background-position: center;
	border: 2px solid var(--color-secondary);
	border-radius: 15px;
}
  
/* ---------------- NAV BAR ---------------- */
.navbar {
	font-family: "PixelOperator";
	/* background-color: var(--color-background); */
	background-color: var(--funny-boxes); 
	/* border: 2px solid var(--color-secondary);  */
	border-radius: 15px;
	width: 100%;
}
  
.navbar ul {
	/* aligning the list elements horizontally */
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: space-evenly;
}
  
.navbar li {
	padding: 5px;
}
  
/* Nav links */
.navbar li a {
	color: var(--color-link);
	font-weight: 800;
	text-decoration: none;
}
  
.navbar li a:hover {
	color: white;
	/* text-decoration: underline; */
	animation: glow 1s ease-in-out infinite alternate;
}

/*  ---------------- MAIN  ---------------- */
main {
	font-family: "PixelOperator";
	background-color: var(--color-background);
	/* border: 2px solid var(--color-secondary); */
	border-radius: 15px;
	padding: 5px 0;
}

/* ---------------- SECTIONS ---------------- */

section h2 {
	background-color: var(--funny-boxes); 
	/* border: 2px solid var(--color-secondary); */
	border-radius: 15px;
	padding-left: 2%
}

.game {
  background-color: var(--game-box-opacity);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 2%;
}

.box {
	margin: 4%;
	background-color: var(--color-background);
	/* border: 2px solid var(--color-secondary); */
	border-radius: 15px;
}
  
  /* this applies to the marquee inside it */
.marquee-container {
	background-color: var(--color-background);
	background-color: var(--funny-boxes); 
	border: 2px solid var(--color-secondary);
	border-radius: 15px;
	margin-bottom: 5%;
}

/* Style the email link */
a[href^="mailto:"] {
	color: inherit; 
	text-decoration: none; 
}
  
a[href^="mailto:"]:hover {
	color: inherit; 
	text-decoration: underline;
}
  
.footer {
	text-align: center;
	color: var(--color-link);
	font-weight: bold;
}
